.mpm-calendar__basic_cell {
  border-color: #AAA;
  border-width: 1px;
  border-style: solid;
}

.mpm-calendar__table-container {
  width: 100%;

  thead {

    tr {
      th {
        @extend .mpm-calendar__basic_cell;
        text-align: center;
        height: 35px;
      }
    }

    tr.mpm-calendar__table-header-weekend > th {
      width: (100%) / 7;
    }

    tr.mpm-calendar__table-header-no-weekend > th {
      width: (100%) / 5;
    }
  }

  tbody > tr > td {
    @extend .mpm-calendar__basic_cell;
    min-height: 50px;
  }
}
