.mpm-calendar-cell__container {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  min-height: 100px;
}

.mpm-calendar-cell__title {
  text-align: right;
  padding-right: 5px;
  color: #888;
}

.mpm-calendar-cell__container-today {
  background-color: #EEF8FE;
}

.mpm-calendar-cell__container-other-month > .mpm-calendar-cell__title {
  color: #ddd;
}

.mpm-calendar-cell__title.mpm-calendar-cell__title-today {
  color: #666;
  font-weight: bold;
}
.calendar-view__calender-header-label {
  color: #666;
  font-weight: bold;
}
