
body {
    padding-bottom: 20px;
    color:#666;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-mini { padding: 0px 4px; }
.approve-table > tbody {word-break: break-word;}
.pagination { margin:0px; }
tfoot > tr > td {padding-top:10px;}
.button-action {margin-left:5px;}
.approve-table  {cursor: pointer;}
.toolbars {padding-top:10px;padding-bottom:10px;}
table.approve-table > tbody > tr.row-memo > td {border-top:0px;}

p.memo-block { border-color:#eee; border-style:solid;  border-radius: 4px;border-width:1px;padding:15px; background-color:#f5f6f7;}

table.approve-table > tbody > tr.warning-active > td { background-color: #faf2cc;}

.header-sortable > span.glyphicon { display: none; }
.header-sortable.sorted-asc > span.glyphicon.glyphicon-arrow-up { display:inline-block; }
.header-sortable.sorted-desc > span.glyphicon.glyphicon-arrow-down { display:inline-block; }
.header-resource-name { min-width:148px;}
.header-customer { min-width: 105px;}
.header-working-date {min-width: 245px;}
span.label.pull-right {margin-left:5px;}

#approveTable > tbody > tr.row-data > td.col-task > button.btn-memo { display: none;}
#approveTable.hide-comment > tbody > tr.row-data > td.col-task > button.btn-memo { display: inline-block;}
#approveTable.hide-comment > tbody > tr.row-memo {display:none; }