

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-bottom: 20px;
    color:#666;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#eventHolder {overflow-y: scroll;max-height:700px; margin-top:5px;}
.alert-template.ui-draggable.ui-draggable-dragging {
  width : 200px;
  z-index: 1001 !important;
}

.alert-template > .label-time {  font-size: 11px;}
.alert-template > .label-project { font-size:13px; word-wrap: break-word; word-break: break-all; }
.alert-template > .label-task {word-wrap: break-word; font-size: 12px; word-break: break-all;  }

.panel-temp > .panel-heading {
	opacity: 0.5;
}
.panel-temp > .panel-body {
	opacity: 0.5;
}
.panel-temp.panel-warning > .panel-footer {
	background-color: #f9f9f9;
}
.btn-edit { padding: 0px 4px; }
.btn-edit.pull-left { margin-right:5px;}
.btn-edit.pull-right { margin-left:5px;}

.panel-event {margin-left : 3px;margin-right:3px;margin-bottom:10px;margin-top:0px;
    box-shadow: 3px 3px 2px #ddd;
}
.panel-event > .panel-heading { font-size:12px; padding-left: 5px; padding-right: 5px; text-align: center; text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.panel-event > .panel-heading > p {margin:0px;}
.panel-event > .panel-body { font-size: 12px; }
.panel-event > .panel-footer { padding: 5px; }
a.navbar-brand { color:#666;}
a.navbar-brand:hover { color:#333;}
.fc-event-vert .ui-resizable-s { height:15px !important; background-color: #f5f5f5;}
.label-event-time { font-size:11px; margin-top:-5px; margin-left:5px;}

.temp-progress-bar > div {
  -webkit-transition: width 1.5s ease;
          transition: width 1.5s ease;
}

.label-day { font-size:19px; margin-right: 3px; margin-top:5px;}
.label-effort {margin-top: 2px; }
.fc-view {overflow: visible;}

#cancelButton {margin-right:5px;}
#statusHolder {min-height: 0px;overflow:hidden;}
.leftbar-holder.affix {top:15px;}
.template-group.affix {top:0px;}

#addTemplateButton {padding: 3px 7px;}
#statusBarTop {text-align: center; overflow: hidden;}
#statusBarTop > .alert {width: 20%; display:inline-block; }
.navbar-right > .dropdown {display:inline-block;}
.draggble-event { cursor: pointer;}

span.icon-save-template {margin-top:-5px; float:left; font-size:17px;cursor:pointer;padding-right: 10px;}
span.icon-copy-timesheet {margin-top:-5px; float:left; font-size:17px;cursor:pointer;}
span.icon-comment {margin-left:5px;}
.hide-add-template .icon-save-template {display: none;}
.hide-drag-drop .icon-copy-timesheet {display: none;}

.hide-project-code .panel-body {display: none;}
.hide-task-name .panel-heading p {display:none;}
.hide-footer .panel-footer {display:none;}

#leftBarHolder.show-trash > #templateGroup,#leftBarHolder.show-trash > button,#leftBarHolder.show-trash >hr { display: none; }
#leftBarHolder > #trashHolder {display: none;}
#leftBarHolder.show-trash > #trashHolder {display: block; text-align: center;}
#trashHolder > span {font-size:100px;}
.fc-event-drop-trash { opacity: 0.2;}
#featureModel {z-index: 2000;}
