.mpm-calendar__table-container {
  width: 100%;
}
.mpm-calendar__table-container > thead > tr > th{
  text-align: center;
  border-color: #AAA;
  border-width: 1px;
  border-style: solid;
  height: 35px;
}

.mpm-calendar__table-header-weekend > th {
  width: (100%) / 7;
}

.mpm-calendar__table-header-no-weekend > th {
  width: (100%) / 5;
}
