.core-layout__viewport {
  padding-top: 4rem;
}
.core-layout__global-loading-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1001;
  .core-layout__global-loading {
    background-color: white;
    padding: 20px;
    position: absolute;
    width: 95px;
    height: 55px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 15px;
  }
}
